<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598787021690-8uikp3fnctti7tj1fku3kau1bp90flvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598787021690-8uikp3fnctti7tj1fku3kau1bp90flvo</string>
	<key>API_KEY</key>
	<string>AIzaSyBfOz-ZAcMGZi3P3XIedLk2hZUzLFhGDFU</string>
	<key>GCM_SENDER_ID</key>
	<string>598787021690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KamrynOhly.E-Grow</string>
	<key>PROJECT_ID</key>
	<string>e-grow-a71ba</string>
	<key>STORAGE_BUCKET</key>
	<string>e-grow-a71ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598787021690:ios:58e7ff53017536a8d314c3</string>
	<key>DATABASE_URL</key>
	<string>https://e-grow-a71ba.firebaseio.com</string>
</dict>
</plist>